html {
  background-color: black;
}

.back-arrow {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.425);
}

.back-arrow:hover {
  background-color: gray;
  transition: 0.5s;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 2%;
}

#tip-options {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 15px;
  width: 75%;
  height: 250px;
  margin-left: 10%;
  margin-top: 7%;
}

.tip-option {
  background-color: rgb(61, 61, 61);
  height: 220px;
  border-radius: 20px;
}

.tip-option:hover {
  background-color: rgb(100, 100, 100);
  transition: 0.5s;
}

.tip-option > h2 {
  color: white;
  text-align: center;
  margin-top: 40%;
}

.belowTipOptions {
  color: white;
  text-align: center;
}

h3.belowTipOptions {
  color: white;
}
